local.php
plugins
.vscode

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*.ini
*~
*.sass-cache
node_modules/
.tmp/

# OS or Editor folders
.DS_Store
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace
*.komodoproject
.komodotools
_notes
dwsync.xml
.idea
scavenger.code-workspace

/vendor/
/php/lib/config.php
wp-config.php
/bootstrap/config.php
/wp-content/ai1wm-backups/
.env

index.php.bak
php/wpauthenticate.php
